.background{
    background-color: bisque;
}

.pictureaverage1{
    height: 500px;
    width: 500px;
}

.pictureaverage{
    height: 500px;
    width: 600px;
}

.centeringimage{
    display: flex;
    justify-content: center;
    align-items: center;
}

#adjusting-sm-picture{
    height: 300px;
    width: 200px;
}

.user-adjustment{
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.carousel-inner > .item >{
    width: 100%;
    height: auto;
    margin: auto;

}